<div class="container">
    <h2>Új jelszó beállítása</h2>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <form (submit)="onSubmit()">
        <label for="newPassword">Új jelszó</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>

        <label for="confirmPassword">Jelszó megerősítése</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>

        <button type="submit">Jelszó módosítása</button>
    </form>
</div>