<div class="container">
    <h1>Jelszó módosítás</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="newPassword">Új jelszó:</label>
            <input type="password" formControlName="newPassword" id="newPassword" placeholder="Írd be az új jelszót">
        </div>
        <button type="submit" [disabled]="changePasswordForm.invalid">Jelszó módosítás</button>
    </form>
    <div *ngIf="message" class="message">
        {{ message }}
    </div>
</div>