<app-navbar></app-navbar>

<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Időpontfoglalás</h1>
        <div class="form-container">
            <div class="select-group">
                <div class="select-wrapper">
                    <select (change)="onSelectService($event)">
                        <option disabled selected>Válassz szolgáltatást</option>
                        <option *ngFor="let service of services" [value]="service.id">
                            {{ service.name }}
                        </option>
                    </select>
                </div>
                <div class="separator">vagy</div>
                <div class="select-wrapper">
                    <select (change)="onSelectDoctor($event)">
                        <option disabled selected>Válassz orvost</option>
                        <option *ngFor="let doctor of doctors" [value]="doctor.id">
                            {{ doctor.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

