<app-navbar></app-navbar>

<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="form" novalidate>
        <h1>Bejelentkezés</h1>
        <div class="input-group">
            <label for="email">Email cím:</label>
            <input type="email" formControlName="email" id="email" class="input-field"
                [ngClass]="{ 'error-border': email?.invalid && email?.touched }">
            <div class="error" *ngIf="email?.invalid && email?.touched">
                * Érvénytelen email cím
            </div>

            <label for="password">Jelszó:</label>
            <div class="password-wrapper">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password"
                    class="input-field" [ngClass]="{ 'error-border': password?.invalid && password?.touched }">
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                    <i [class] = "showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                </button>
            </div>
            <div class="error" *ngIf="password?.invalid && password?.touched">
                * A jelszó legalább 8 karakter hosszú kell legyen
            </div>

            <!-- "Elfelejtetted a jelszavad?" link -->
            <p class="forgot-password">
                <a (click)="toForgotPassword()">Elfelejtetted a jelszavad?</a>
            </p>
            <p class="dont-have-an-account">
                <a>Nincs még fiókod? <span class="register" (click)="toRegister()">Regisztrálj!</span></a>
            </p>
            
            

            <button type="submit" class="loginButton" [disabled]="loginForm.invalid">
                Bejelentkezés
            </button>
        </div>
    </form>
</div>

<!-- Sikeres bejelentkezés modális ablak -->
<div class="modal" [ngClass]="{ 'open': showModal }">
    <div class="modal-inner">
        <h2>Sikeres bejelentkezés!</h2>
        <button class="registerButton" (click)="closeModal()">Bezárás</button>
    </div>
</div>

<app-footer></app-footer>