<app-navbar></app-navbar>

<div class="container">
    <form action="" id="form">
        <h1>Bejelentkezés</h1>
        <div class="input-group">
            <label for="Email">Email cím:</label>
            <input type="email" id="email" name="email">
            <div class="error"></div>
            <label for="password">Jelszó:</label>
            <input type="password" id="password" name="password">
            <div class="error"></div>
            <label for="cpassword">Jelszó megerősítése</label>
                <input type="password" id="cpassword" name="cpassword">
                <div class="error"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col xxl-6">
                        <button type="submit" class="registerButton">Regisztráció</button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col xxl-6">
                        <button type="submit" class="loginButton">Bejelentkezés</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" id="modal">
            <div class="modal-inner">
                <h2>Sikeresen regisztráltál!</h2>
                <button id="closeModal"></button>
            </div>
        </div>

    </form>
</div>

<app-footer></app-footer>
