<div class="modal-container">
    <div class="modal-header">
        <h2>{{ data.title }}</h2>
        <button class="close-button" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-content">
        <p><strong>Kezdés:</strong> {{ data.start }}</p>
        <p><strong>Befejezés:</strong> {{ data.end }}</p>
        <p><strong>Státusz:</strong> {{ data.status === 'booked' ? 'Foglalt' : 'Szabad' }}</p>
        <button *ngIf="data.status !== 'booked'" mat-button color="primary" (click)="onBookingClick()"
            class="bookingButton">
            Időpontfoglalás
        </button>

        <!-- Lemondás gomb csak akkor jelenik meg, ha a jelenlegi felhasználóé az időpont -->
        <button *ngIf="data.allowCancellation" mat-button color="warn" (click)="onCancelClick()" class="cancelButton">
            Lemondás
        </button>

    </div>
</div>