/* Hero szekció stílusok */
.hero-section {
    background: url('/clinic.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 8px;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    /* Módosítások itt: */
    animation:
        typing 3s steps(40, end) 1s forwards,
        /* 1 másodperces késleltetés */
        blink-caret .75s step-end 3.5s infinite;
    /* 3.5s késleltetés (0.5 + 3) */
    width: 0;
    /* Kezdeti szélesség hozzáadva */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

/* Szolgáltatások szekció stílusai */
.services-section {
    margin-top: 2rem;
}

/* Gomb és egyéb stílusok */
.btn-primary {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    background-color: #E66050;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: #E66050;
}

.btn-primary:hover {
    background-color: #C94F42;
    /* Sötétebb vöröses-narancs */
    transform: scale(1.05);
}