/* Hero szekció stílusok */
.hero-section {
    background: url('/clinic.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 8px;
}

.typewriter {
    position: relative;
    /* Szükséges a ::after pozicionáláshoz */
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation:
        typing 3s steps(40, end) 1s forwards;
    width: 0;
}

/* Kurzor animáció (eltűnik a gépelés végén) */
.typewriter::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: .15em;
    height: 1em;
    background: orange;
    animation:
        blink-caret .75s step-end 1.5s infinite,
        hide-cursor 0.1s forwards 5s;
    /* 1s delay + 3s typing */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes hide-cursor {
    to {
        opacity: 0;
    }
}

/* Szolgáltatások szekció stílusai */
.services-section {
    margin-top: 2rem;
}

/* Gomb és egyéb stílusok */
.btn-primary {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    background-color: #E66050;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: #E66050;
}

.btn-primary:hover {
    background-color: #C94F42;
    /* Sötétebb vöröses-narancs */
    transform: scale(1.05);
}