<!-- Navbar (feltételezve, hogy van külön app-navbar komponens) -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" [class.navbar-hidden]="!isNavbarVisible">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="Logo-removedbg.png" alt="Logo" class="img-fluid navbar-logo" href="javascript:void(0)"
          (click)="toHome()">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="toHome()" >Kezdőlap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="toSpecialists()" id="specialistsButton">Szakembereink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="toServices()">Szolgáltatásaink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="scrollToContact()" id="contactButton">Kapcsolat</a>
          </li>
        </ul>
  
        <!-- Jobbra igazított menüelemek -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="scrollToBooking()" routerLink="/booking" id="bookingButton">Időpontfoglalás</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" href="javascript:void(0)" (click)="toLogin()" routerLink="/login"><i class="bi bi-person fs-4"></i></a>
          </li>
  
          <!-- Ha a felhasználó be van jelentkezve -->
          <li class="nav-item" *ngIf="isAuthenticated">
            <button title="Kijelentkezés" class="logout-button" href="javascript:void(0)" (click)="onLogout()" aria-label="Logout"><i class="fas fa-sign-out-alt"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Hero szekció: háttérkép és üdvözlő szöveg -->
<div class="hero-section" [@fadeIn] style="color: #f5f5f5;">
    <div class="hero-content">
        <h1 class="typewriter">Üdvözöljük a GB Medical rendszerben!</h1>
        <button class="btn btn-primary" (click)="scrollToBooking2()" id="bookingButton2">Időpontfoglalás</button>
    </div>
</div>



<!-- Szolgáltatások szekció -->
<div class="container services-section" [@fadeIn] style="background-color: #f5f5f5;">
    <div class="row text-center" style="padding-top: 30px;">
        <div class="col-md-4 mb-4">
            <i class="fas fa-user-md fa-4x text-primary"></i>
            <h3 class="mt-3">Orvosi Konzultáció</h3>
            <p>Válasszon szakorvost és foglaljon időpontot egyszerűen.</p>
        </div>
        <div class="col-md-4 mb-4">
            <i class="fas fa-calendar-check fa-4x text-success"></i>
            <h3 class="mt-3">Időpontfoglalás</h3>
            <p>Gyors és egyszerű online időpontfoglalás.</p>
        </div>
        <div class="col-md-4 mb-4">
            <i class="fas fa-envelope fa-4x text-danger"></i>
            <h3 class="mt-3">Értesítések</h3>
            <p>Automatikus értesítések az időpontjáról e-mailben.</p>
        </div>
    </div>
</div>

<app-carousel></app-carousel>

<section class="hero" id="idopontfoglalas">
    <div class="overlay"></div>
    <div class="hero-content" style="background: none;">
        <h1>Időpontfoglalás</h1>
        <div class="form-container">
            <div class="select-group">
                <div class="select-wrapper">
                    <select (change)="onSelectService($event)">
                        <option disabled selected>Válassz szolgáltatást</option>
                        <option *ngFor="let service of services" [value]="service.id">
                            {{ service.name }}
                        </option>
                    </select>
                </div>
                <div class="separator">vagy</div>
                <div class="select-wrapper">
                    <select (change)="onSelectDoctor($event)">
                        <option disabled selected>Válassz orvost</option>
                        <option *ngFor="let doctor of doctors" [value]="doctor.id">
                            {{ doctor.name }}
                        </option>
                    </select>
                </div>
                <button class="allAvailableSlotsButton" (click)="showAllAvailableSlots()">Összes szabad időpont megjelenítése</button>
            </div>
        </div>
    </div>
</section>




<body>
    <div class="container" id="kapcsolat">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1384.8414497706992!2d18.21789181481935!3d46.03747538497165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4742b3b64547f9ff%3A0x81835de2edb802f1!2sBaranya%20V%C3%A1rmegyei%20SZC%20Simonyi%20K%C3%A1roly%20Technikum%20%C3%A9s%20Szakk%C3%A9pz%C5%91%20Iskola!5e0!3m2!1shu!2shu!4v1739809137524!5m2!1shu!2shu"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-info">
            <h2>Vegye fel velünk a kapcsolatot!</h2>
            <p><span class="icon">📞</span>+36 72 550 710</p>
            <p><span class="icon">🏠</span>Pécs, Malomvölgyi út 1/b, 7636</p>
            <p><span class="icon">✉️</span>kszki&#64;simonyi.edu.hu</p>
            <h3>Nyitvatartás</h3>
            <p>Hétfő: 08:00 – 20:00 <br>
                Kedd: 08:00 – 20:00 <br>
                Szerda: 08:00 – 20:00 <br>
                Csütörtök: 08:00 – 20:00 <br>
                Péntek: 08:00 – 20:00</p>
        </div>
    </div>
</body>


<app-chevron-up></app-chevron-up>

<!-- Lábléc -->
<app-footer></app-footer>