<p>chevron-up works!</p>

<a href="#" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>
  </a>

  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>
  <h1>sakjsakjsk</h1>