<app-navbar></app-navbar>

<div class="container">
    <div class="select-wrapper">
        <select (change)="onSelectService($event)">
            <option disabled selected>Válassz szolgáltatásaink közül</option>
            <option *ngFor="let service of services" [value]="service.name">
                {{ service.name }}
            </option>
        </select>
    </div>

    <!-- Kiválasztott szolgáltatás részletei -->
    <div *ngIf="selectedService" class="service-details">
        <h2>{{ selectedService.name }}</h2>
        <p><strong>Leírás:</strong> {{ selectedService.description }}</p>
        <p><strong>Átlagos időtartam:</strong> {{ selectedService.duration }} perc</p>
        <p><strong>Ár:</strong> {{ selectedService.price }} Ft</p>
        <p><strong>Orvos(ok):</strong> {{ selectedService.doctor_names.join(', ') }}</p>
    </div>
</div>

<app-footer></app-footer>
