/* Középre igazítás */
.container {
    display: flex;
    flex-direction: column;
    /* egymás alá rendezés */
    align-items: center;
    /* vízszintes középre igazítás */
    justify-content: flex-start;
    /* a tartalom a konténer tetejéhez igazodik */
    padding-top: 20px;
    /* szükség esetén további távolság a navbar-tól */
    background-color: #f5f5f5;
    height: 60vh;
    /* világos háttér */
}

/* A select box stílusai */
select {
    width: 100%;
    max-width: 440px;
    /* szélesebb select */
    padding: 12px 50px 12px 20px;
    /* balra 20px, jobbra 50px, így nem lóg bele a nyíl */
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #008080;
    border-radius: 8px;
    background-color: #f5f5f5;
    color: #495057;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
}

/* Fókuszáláskor szín és árnyék változás */
select:focus {
    border-color: #008080;
    outline: none;
    box-shadow: 0 0 8px rgba(11, 205, 150, 0.6);
    transform: scale(1.05);
    /* Kicsit nagyobb lesz, amikor fókuszálva van */
}

/* Az opciók stílusa */
option {
    padding: 10px;
    font-size: 16px;
}

/* Disable opciók stílusa */
option:disabled {
    color: #6c757d;
}

/* Egyedi nyíl elem a select mögött */
select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: '\25BC';
    /* lefelé mutató nyíl */
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

/* Animáció: A select elem átmenete */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Alkalmazzuk az animációt a select elemre */
select {
    animation: fadeIn 0.5s ease-in-out;
}

/* A legelső opció szövegét testreszabjuk */
option:first-child {
    color: #888;
    /* szürke szín az első opcióra */
    font-style: italic;
}

.service-details {
    margin-top: 30px;
    padding: 15px;
    border: 2px solid #008080;
    border-radius: 8px;
    background: #f5f5f5;
    box-shadow: 0 4px 8px rgba(3, 114, 81, 0.1);
    max-width: 500px;
    text-align: left;
}

.service-details h2 {
    color: #008080;
    font-size: 20px;
}

.service-details p {
    font-size: 16px;
    margin: 5px 0;
}