<footer class="footer">
  <div class="container">
    <div class="footer-columns">
      <!-- Logó és leírás -->
      <div class="footer-logo">
        <img src="Logo-removedbg.png" alt="GBMedical Logó" class="footer-logo-image" />
      </div>

      <!-- Gyorslinkek -->
      <div class="footer-links">
        <h4>Gyorslinkek</h4>
        <ul>
          <li><a href="/privacy-policy">Szakembereink</a></li>
          <li><a href="/services">Szolgáltatások</a></li>
          <li><a href="/contact">Kapcsolat</a></li>
          <li><a href="/calendar">Időpontfoglalás</a></li>
        </ul>
      </div>

      <!-- Kapcsolat -->
      <div class="footer-contact">
        <h4>Kapcsolat</h4>
        <p><strong>Cím: </strong>Pécs, Malomvölgyi út 1/b, 7636</p>
        <p><strong>Telefon: </strong> <a href="tel:+123456789">+1 234 567 89</a></p>
        <p><strong>Email: </strong> <a href="mailto:info@myclinic.com">kszki&#64;simonyi.edu.hu</a></p>
      </div>

      <!-- Közösségi média -->
      <div class="footer-social">
        <h4>Kövess minket</h4>
        <div class="social-icons">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
      <p>&copy; 2025 GBMedical. Minden jog fenntartva.</p>
    </div>
  </div>
</footer>