.to-top{
    background-color: #008080;
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
    color: #fa8072;
    text-decoration: none;
    opacity: 0;
    transition: all .4s;
    cursor: pointer;
   }

.to-top.active {
  bottom: 42px;
  pointer-events: auto;
  opacity: 1;
  }

  .fa-chevron-up{
    position: relative;
    left: 15px;
}